.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoList {
  height: 300px;
  width: 250px;
  border: 2px solid black;
  padding: 24px;
  overflow-y: scroll;
}

.listItem {
  padding: 18px;
  margin-top: 10px;
  list-style-type: none;
  border-radius: 12px;
  border: 1px solid black;
}

.listItem:hover {
  cursor: pointer;
  background-color: lightblue;
}